<div class="top-header">
  <%= render partial: "/layouts/shared/top_scr" %>
</div>

<div class="wrapper">
  <div class="left-scr">
    <%= render "/layouts/shared/leftscr" %>
  </div>
  <div>
    <%= render partial: "right_scr" %>
  </div>
</div>