<ul class="header-text">
  
  <% if user_signed_in? %>
    <li><%= current_user.name %>
    <% if current_user.admin? %>
     <% end %>
     <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"header-text" %></li>
     <li><%= "管理者としてログイン中" %></li>
  <% end %>
</ul>


