.top-header{
  background-color: lightsteelblue;
  /* border-bottom:1px solid black; */
  height:13vh;
}

.header-text{
  text-align: right;
}

.wrapper{
  display: flex;
}
.left-scr{
  background-color: lightsteelblue;
  width: 200px;
  height: 100vh;
}

.right-top{
  /* background-color: greenyellow; */
  height: 15vh;
}
.right-bottom{
  /* background-color: aqua; */
  width: calc(100vw - 130px);
  height: calc(100vh - 15vh);
  overflow: scroll;
}

.text-height{
  height:4vh
}

table{
  background-color: blanchedalmond;
  width: 100%;
}

table tr{
  border: solid 1px black;

}

td,th{
  border: solid 1px;
}