.top-header{
  background-color: #7cf165;
  /* background-image:linear-gradient(40deg, #e7faf0 0%, #effad7 50%); */
  /* border-bottom:1px solid black; */
  height:10vh;
}

.header-text{
  text-align: right;
  text-decoration: none;
  margin-right: 3vw;
  

}

.wrapper{
  display: flex;
}
.left-scr{
  background-color: #7cf165;
  width: 130px;
  height: 100vh;
}

.right-top{
  /* background-color: greenyellow; */
  /* height: 15vh; */
}

.format{
  
  
}

.search{

}

.right-bottom{
  /* background-color: aqua; */
  width: calc(100vw - 150px);
  height: calc(100vh - 15vh);
  overflow: scroll;
}

.text-register{
  height:4vh;
  width:40vh;
  
}

/* table{
  
  width: 100%;
} */

/* table tr{
  border: solid 1px black;
  background-image:linear-gradient(40deg, #e7faf0 0%, #effad7 90%);
} */

/* td,th{
  border: solid 1px;
} */